<h1>Send Morse Code</h1>

<div class="container">
<%= form_for(@morse) do |f| %>
	<div class="field">
	<%= f.text_area :message, placeholder: "Send a message..." %>
	</div>
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>
